.select-province-message {
    font-size : 14px;
}

.lineplotelement {
    fill : none;
    stroke-width: 1.5;
}

.NLlinegraphelement {
    fill : none;
    stroke-width: 1.5;
    /* stroke: red; */
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }


/* .tick {
    user-select: none;
}

.label {
    user-select: none;
} */