.select-province-message {
    font-size : 14px;
}

.lineplotelement {
    fill : none;
    stroke-width: 1.5;
}

.scatterplotelement {
    fill : none;
    stroke-width: 1.5;
}

.selectedElement {
    /* stroke: black; */
    fill : none;
    stroke-width: 5;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }

