
.map-layer {
    /* fill: rgb(175, 49, 49); */
    stroke: transparent;
    fill-opacity: 0.9;
}

.clickedFill {
    fill-opacity: 1;
}

.effect-layer {
    pointer-events: none;
    user-select: none;
}

.mouseOverText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align:center;
    pointer-events: none;
    stroke: black;
    background-color: white;
    background-size: auto;
    user-select: none;
}

.clickedText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    stroke: black;
    text-align:center;
    pointer-events: none;
    user-select: none;
}

.mouseover {
    fill-opacity : 1;
    stroke: black;
    stroke-width: 2;
    transition: fill-opacity .2s;
    transition: stroke .2s;
}
