@import url(httpsfonts.googleapis.comcssfamily=Open+Sans+Condensed300Josefin+SlabArvoLatoVollkornAbril+FatfaceOld+Standard+TTDroid+SansLobsterInconsolataMontserratPlayfair+DisplayKarlaAlegreyaLibre+BaskervilleMerriweatherLoraArchivo+NarrowNeutonSignikaQuestrialFjalla+OneBitterVarela+Round);
:root {
    --base_opacity: 0.3;
  }

body {
    font-family: "avenir next", Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    cursor: default;
}

.background {
    fill:none;
    pointer-events: all;
}

.map-layer {
    /* fill: rgb(175, 49, 49); */
    stroke: transparent;
    fill-opacity: 0.9;
}

.clickedFill {
    fill-opacity: 1;
}

.effect-layer {
    pointer-events: none;
    user-select: none;
}

.mouseOverText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align:center;
    pointer-events: none;
    stroke: black;
    background-color: white;
    background-size: auto;
    user-select: none;
}

.clickedText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    stroke: black;
    text-align:center;
    pointer-events: none;
    user-select: none;
}

text.big-text {
    font-size: 30px;
    font-weight: 400;
}

.mouseover {
    fill-opacity : 1;
    stroke: black;
    stroke-width: 2;
    transition: fill-opacity .2s;
    transition: stroke .2s;
}

#mapContainer {
    width: 50%;
    float: left;
}

#lineGraphContainer #selectionMatrixContainer {
    width: 50%;
    float: right;
}

.select-province-message {
    font-size : 14px;
    user-select: none;
}

#id {
    margin-top : auto;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    margin-top: 10px; 
    font-size: 19px;
} 

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}