body {
    font-family: "avenir next", Arial, sans-serif;
    font-size: 0.7rem;
    text-align: center;
    cursor: default;
    user-select: none;
}

h1 {
    margin-bottom: 0.8rem;
    margin-top: 1.6rem; 
    font-size: 1.5rem;
} 

h2 {
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.container { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.matrixMapContainer {
    height: 30%;
    display: flex;
    flex-direction:row;
}

#mapContainer {
    width: 40%;
    float: left;
    margin: 1em;
}


#selectionMatrixTimeContainer {
    width: 35%;
    margin: 1em;
}

#selectionMatrixContainer {
    width: 35%;
    margin: 1em;
}

#lineGraphContainer {
    width: 60%;
    margin: 1em;
}

#scatterGraphContainer {
    width: 60%;
    margin: 1em;
}

.background {
    fill:none;
    pointer-events: all;
}